lobster-factory/infra/n8n/exports/client-onboarding-flow.json
{
  "name": "client-onboarding-flow",
  "active": false,
  "version": "1.0.0",
  "meta": {
    "description": "Phase 1 onboarding flow skeleton for Lobster Factory",
    "owner": "agency-os",
    "environment": "staging-only"
  },
  "nodes": [
    {
      "id": "manualTrigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        260,
        320
      ],
      "parameters": {}
    },
    {
      "id": "buildPayload",
      "name": "Build Payload",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        520,
        320
      ],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "organizationId",
              "value": "11111111-1111-1111-1111-111111111111",
              "type": "string"
            },
            {
              "name": "workspaceId",
              "value": "22222222-2222-2222-2222-222222222222",
              "type": "string"
            },
            {
              "name": "projectId",
              "value": "33333333-3333-3333-3333-333333333333",
              "type": "string"
            },
            {
              "name": "siteId",
              "value": "44444444-4444-4444-4444-444444444444",
              "type": "string"
            },
            {
              "name": "environmentType",
              "value": "staging",
              "type": "string"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "reviewGate",
      "name": "Human Review Gate",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        780,
        320
      ],
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.environmentType}}",
              "operation": "equal",
              "value2": "staging"
            }
          ]
        }
      }
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Build Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Payload": {
      "main": [
        [
          {
            "node": "Human Review Gate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
